<h1>Editing upload</h1>

<% form_for(@upload) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :filename %><br />
    <%= f.text_field :filename %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :hash_key %><br />
    <%= f.text_field :hash_key %>
  </p>
  <p>
    <%= f.label :content_type %><br />
    <%= f.text_field :content_type %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @upload %> |
<%= link_to 'Back', uploads_path %>
